.nav{
  height: 100vh;
  width: 7vw;
  display: flex;
  position: fixed;
  background: #ff8e43;
  margin-left: 0px;
}
ul{
  list-style: none;
  margin: 0px;
  width: 4vw;
}
.nav-img{
  height: auto;
  width: 90%;
  padding-bottom: 1vh;
}